body {
    background: #222;
}

#field {
    position: absolute;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 64px;
    background: #080;
    margin: 0;
    padding: 0;
    border: 2px solid #050;
    width: 64px;
    height: 64px;
}

.cell.open {
    background-color: #0b0;
}

.cell.mark {
    background-image: url("mine.svg");
}

.cell.open.mine {
    background-color: #800;
    background-image: url("mine.svg");
}

.cell:hover {
    border-color: #880;
}

#result {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
}

img.win, img.lose {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: visibility 0s, opacity 1.5s linear;
}

#result.win > img.win {
    display: block;
    width: auto;
    height: 100%;
    visibility: visible;
    opacity: 1;
}

#result.lose > img.lose {
    display: block;
    visibility: visible;
    opacity: 1;
}
