body {
    background: #222;
}

#field {
    position: absolute;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.row {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 64px;
    background: #080;
    margin: 0;
    padding: 0;
    border: 2px solid #050;
    width: 64px;
    height: 64px;
}

.cell.open {
    background-color: #0b0;
}

.cell.open.mine {
    background-color: #800;
    background-image: url("mine.svg");
}

.cell:hover {
    border-color: #880;
}